.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  height: 100vh;
  background-color: black;
  padding: 2rem;
  text-align: left;
}

.step {
  background-color: #333; /* Dark gray background */
  padding: 20px;
  margin-bottom: 20px;
  padding: 2em;
  border-radius: 33px;
}
.title {
  font-size: 2em;
  margin-bottom: 10px;
  color: white; /* Set the text color of the title */
  text-decoration: underline;
  text-decoration-color: #4caf50;
}